header {
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    height: 100px;
    align-items: center;
    font-style: normal;
    border-radius: 40px;
    justify-content: center;
}
header nav {
    gap: 50px;
    padding: 20px;
}
header nav a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: black;
    font-size: 30px;
}
header nav a:hover {
    width: 100%;
}
body {
    background-color: lightblue;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 100px;
}
.box-1 {
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;   
}
.box-2 {
    display: flex;
    height: auto;
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px
}
.box-2 h2 {
    background-color: blueviolet;
    border-radius: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.box-2 img {
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
}
.box-2 p {
    flex: 1;
    display: block;
    line-height: 1.6;
    text-align: justify;
    margin-right: 0;
    font-size: 18px;
}
footer {
    background-color: black;
    height: auto;
    border-radius: 20px;
    color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
